.form {
	border: 1px solid black;
	border-radius: 20px;
	width: 500px;
	padding: 100px 50px;
}


.form-wrapper {
	border: 2px solid black;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.form-group {
	margin: 15px 0;
}

.btn {
	width: 100px;
	margin: 0 auto;
	height: 40px;
}

.heading {
	text-align: center;
}

/* .row {
	border: 1px solid black;
} */